*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  outline: none;
}

// Breakpoints
@mixin breakpoint($points...) {
  @for $i from 1 through length($points) {
    $point: nth($points, $i);

    // Mobile devices
    @if $point == mobile {
      @media (max-width: 599px) { @content; }
    }
    @else if $point == tablet-and-mobile {
      @media (max-width: 799px) { @content; }
    }
    @else if $point == tablet-only {
      @media (max-width: 799px) and (min-width: 600px) { @content; }
    }
    @else if $point == small-desktop {
      @media (max-width: 1110px) { @content; }
    }
  }
}

html {
  font-size: 62.5%;
  height: 100%;
  
  @include breakpoint(tablet-only) {
    font-size: 70%;
  }
}

body {
  font-size: 1.7em;
  font-family: $quattrocento;
  line-height: normal;
  color: $grey-dark;
  height: 100%;
  text-align: center;
  background-color: #fff;
}

a { 
  color: $grey-dark;
}

// Typography
h1 {
  font-family: $spartan;
  font-size: 5.4rem;
  margin-bottom: 10px;
  margin-top: 20px;
  
  @include breakpoint(mobile) {
    font-size: 3.4rem;
  }
}

h2 {
  font-size: 1.9rem;
  line-height: 1.5;
  font-weight: 700;
  
  @include breakpoint(mobile) {
    line-height: 1.3;
    font-weight: 400;
  }
}

h3, .pseudo-h3 {
  font-family: $spartan;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.pseudo-h3 {
  color: $grey-medium;
}

p {
  line-height: 1.6;
}

// Default icon size
.icon {
  width: 20px;
  height: 20px;
}

// Layout
.wrap {
  max-width: 1060px;
  padding: 40px 60px;
  margin: 0 auto 100px auto;
  
  @include breakpoint(mobile) {
    padding: 40px 20px;
    margin-bottom: 0;
  }
}

.strikethrough {
  text-decoration: line-through;
}
