*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  outline: none;
}

// Breakpoints
@mixin breakpoint($points...) {
  @for $i from 1 through length($points) {
    $point: nth($points, $i);

    // Mobile devices
    @if $point == mobile {
      @media (max-width: 599px) { @content; }
    }
    @else if $point == tablet {
      @media (max-width: 799px) and (min-width: 600px) { @content; }
    }
  }
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.9em;
  font-family: $text;
  line-height: normal;
  color: $grey-dark;
  height: 100%;
  text-align: center;
  background-color: #fff;
  
  @include breakpoint(mobile) {
    font-size: 1.8em;
  }
  
  @include breakpoint(tablet) {
    font-size: 2.1em;
  }
}

a { 
  color: $grey-dark;
  border-bottom: 2px solid $grey-xlight;
  text-decoration: none;
  transition: all .2s ease-in-out;
  
  &:hover {
    border-color: $grey-medium;
  }
}

// Typography
h1 {
  font-family: $header;
  font-size: 5.2rem;
  font-weight: bold;
  letter-spacing: -2px;
  margin-top: 50px;
  
   @include breakpoint(mobile) {
    font-size: 3.6rem;
  }
}

p {
  line-height: 1.5;
  margin-top: 20px;
}

