// Colors
$grey-dark: #474a4f;
$grey-medium: #7e848c;
$grey-light: #bbbfc4;
$grey-xlight: #edeff2;
$grey-xxlight: #f7f8fA;

// Fonts
$raleway: 'Raleway', sans-serif;
$spartan: 'League Spartan', sans-serif;
