// Colors
$grey-dark: #474a4f;
$grey-medium: #7e848c;
$grey-light: #bbbfc4;
$grey-xlight: #dfe1e6;
$grey-xxlight: #f5f6f7;

// Fonts
$text: 'Source Sans Pro', sans-serif;
$header: 'League Spartan', sans-serif;
$serif: 'Merriweather', serif;
