// Colors
$grey-dark: #474a4f;
$grey-medium: #7e848c;
$grey-light: #bbbfc4;
$grey-xlight: #dfe1e6;
$grey-xxlight: #f7f8fA;

// Fonts
$opensans: 'Open Sans', sans-serif;
$spartan: 'League Spartan', sans-serif;
