html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-size: 1.8em;
  font-family: "Questrial", sans-serif;
  line-height: normal;
  color: #474a4f;
  height: 100%;
  text-align: center;
  background-color: #fff; }
  @media (max-width: 599px) {
    body {
      font-size: 1.8em; } }

a {
  color: #474a4f;
  border-bottom: 2px solid #dfe1e6;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover {
    border-color: #7e848c; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.4rem;
  font-weight: bold;
  letter-spacing: -2px;
  margin-top: 50px; }

p {
  line-height: 1.5;
  margin-top: 20px; }

main {
  text-align: left;
  padding: 80px 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; }
  main .intro {
    font-size: 2.2rem;
    margin: 30px 0; }
  main .social {
    padding-top: 40px; }
    main .social li {
      display: inline-block;
      margin-left: 30px; }
      main .social li:first-child {
        margin-left: 0; }
      main .social li a {
        border: none; }
